
---
layout: default
---

<!-- projects.html -->
      <div class="post">


        <article>


          <!-- Working papers -->
          {% if page.working_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Working Papers</a></h2>
            {%- include working_papers.html %}
          {%- endif %}    

          <!-- Work In Progress papers -->
          {% if page.work_in_progress_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Work In Progress</a></h2>
            {%- include work_in_progress_papers.html %}
          {%- endif %}   

        </article>

</div>


