---
layout: default
---
<!-- teaching.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>




          <article>
          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Published papers -->
          {% if page.published_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Published Papers</a></h2>
            {%- include published_papers.html %}
          {%- endif %}    
                  
          <!-- Working papers -->
          {% if page.working_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Working Papers</a></h2>
            {%- include working_papers.html %}
          {%- endif %}    

          <!-- Work In Progress papers -->
          {% if page.work_in_progress_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Work In Progress</a></h2>
            {%- include work_in_progress_papers.html %}
          {%- endif %}   

          <p>  </p>
          <p> Syllabus of <i>(Ir)Rationality: Brief Introduction to Behavioural Economics</i>, BSc level course: </p>
                  
                <!-- THIS WORKS -->
                <!-- if height="250px" more than 250 it will load with a page preview on the left -->
                <embed src="https://egorbronnikov.github.io/assets/pdf/example_pdf.pdf" width=100% height="250px" type="application/pdf">
 

<!-- <h1 class="post-title"> {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>  -->

                  
          <p>  </p>
          <p> Syllabus of <i>Behavioural Decision Theory</i>, MRes level course: </p>
                  

                <!-- THIS WORKS -->
                <!-- if height="250px" more than 250 it will load with a page preview on the left -->
                <embed src="https://egorbronnikov.github.io/assets/pdf/example_pdf.pdf" width=100% height="250px" type="application/pdf">
 
          </article>
                
        </div>
